git+https://github.com/DHARPA-project/kiara@develop
git+https://github.com/DHARPA-project/kiara_plugin.language_processing@develop
git+https://github.com/DHARPA-project/kiara_plugin.network_analysis@develop
git+https://github.com/DHARPA-project/kiara_plugin.onboarding@develop
git+https://github.com/DHARPA-project/kiara_plugin.streamlit@develop
git+https://github.com/DHARPA-project/kiara_plugin.tabular@develop
